@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply bg-gray-900 text-white py-4 px-4;
}

h1 {
  @apply text-4xl font-bold;
}

h2 {
  @apply text-2xl font-bold text-gray-300 my-4;
}

h3 {
  @apply text-xl font-bold;
}

h4 {
  @apply text-lg font-bold;
}

h5 {
  @apply text-base font-bold;
}

small {
  @apply font-thin;
}

pre {
  @apply bg-gray-800 text-white p-4 rounded my-2 overflow-auto;
}

.btn {
  @apply bg-blue-500 hover:bg-blue-400 text-white font-bold py-2 px-4 border-b-4 border-blue-700 hover:border-blue-500 rounded transition-all;
}

.active {
  @apply bg-blue-700 border-blue-500 border-0;
}

.selected-label {
  @apply bg-slate-700 shadow-sm transition-all shadow-white;
}
